@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage{
    background: url('./assets/bgImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}
